<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    
    <!-- Staw -->
<!--================================================================================-->
    <xacro:macro name="x_joint" params="name type axis origin_rpy origin_xyz parent child limit_low limit_up limit_eff limit_vel">
        <joint name="${name}" type="${type}">
            <axis xyz="${axis}"/>
            <limit lower="${limit_low}" upper="${limit_up}" effort="${limit_eff}" velocity="${limit_vel}"/>
            <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
            <parent link="${parent}"/>
            <child link="${child}"/>
        </joint>
    </xacro:macro>
    
    <!-- Cylinder -->
<!--================================================================================-->
    <xacro:macro name="x_link_cylinder" params="name origin_xyz origin_rpy radius length mass ixx ixy ixz iyy iyz izz material">
        <link name="${name}">
            <inertial>
                <mass value="${mass}"/>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>    
            </inertial>
            <collision>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
            </collision>
            <visual>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                    <cylinder radius="${radius}" length="${length}"/>
                </geometry>
                <material name="${material}"/>
            </visual>
        </link>       
    </xacro:macro>
    
    <!-- Prostopadłościan -->
<!--================================================================================-->
    <xacro:macro name="x_link_box" params="name origin_xyz origin_rpy size mass ixx ixy ixz iyy iyz izz material">
        <link name="${name}">
            <inertial>
                <mass value="${mass}"/>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>    
            </inertial>
            <collision>
               <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                    <box size="${size}"/>
                </geometry> 
            </collision>
            <visual>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                    <box size="${size}"/>
                </geometry>
                <material name="${material}"/>
            </visual>
        </link>
    </xacro:macro>
    
    <!-- Sfera -->
<!--================================================================================-->
    <xacro:macro name="x_link_ball" params="name origin_xyz origin_rpy radius mass ixx ixy ixz iyy iyz izz material">
        <link name="${name}">
            <inertial>
                <mass value="${mass}"/>
                    <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <inertia ixx="${ixx}" ixy="${ixy}" ixz="${ixz}" iyy="${iyy}" iyz="${iyz}" izz="${izz}"/>    
            </inertial>
            <collision>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                    <sphere radius="${radius}"/>
                </geometry>
            </collision>
            <visual>
                <origin xyz="${origin_xyz}" rpy="${origin_rpy}"/>
                <geometry>
                    <sphere radius="${radius}"/>
                </geometry>
                <material name="${material}"/>
            </visual>
        </link>
    </xacro:macro>
    

</robot>