<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:property name="l00" value="base_link"/>
    <xacro:property name="l01" value="link_01"/>
    <xacro:property name="l02" value="link_02"/>
    <xacro:property name="l03" value="link_03"/>
    <xacro:property name="l04" value="link_04"/>
    <xacro:property name="l05" value="link_05"/>
    <xacro:property name="l06" value="link_06"/>
    <xacro:property name="l07" value="link_07"/>
    <xacro:property name="l08" value="link_08"/>
    <xacro:property name="l09" value="link_09"/>
    <xacro:property name="l10" value="link_10"/>
    <xacro:property name="l11" value="link_11"/>
    <xacro:property name="l12" value="link_12"/>
    <xacro:property name="l13" value="link_13"/>
    <xacro:property name="l14" value="link_14"/>
    <xacro:property name="l15" value="link_15"/>
    <xacro:property name="l16" value="link_16"/>
</robot>
