<?xml version="1.0"?>
<robot name="rm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find robot_arm)/urdf/jl.xacro"/>
    <xacro:include filename="$(find robot_arm)/urdf/lp.xacro"/>
    <xacro:include filename="$(find robot_arm)/urdf/materials.xacro"/>

    <!-- Baza -->
<!--================================================================================-->
    <xacro:x_link_box name="${l00}"
    origin_xyz="0 0 1"  origin_rpy="0 0 0"
    mass = "4800" size="2 2 6"
    ixx="16000" iyy="16000" izz="3200" iyz="0" ixy="0" ixz="0"
    material="Rust" 
    />   

    <!-- Barka, przód tył -->
<!--================================================================================-->
    <xacro:x_joint name="Shoulder_01" type="revolute"
    axis="0 1 0"    limit_low="-2.97"   limit_up="0.87" limit_eff="20000"  limit_vel="0.5"
    origin_xyz="0 0 3"    origin_rpy="0 0 0"
    parent="${l00}"  child="${l01}"/>

    <transmission name="trans_Shoulder_01">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Shoulder_01">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Shoulder_01">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_box name="${l01}"
    origin_xyz="0 1.5 0"  origin_rpy="0 0 0"
    mass = "250" size="1 1 1"
    ixx="42" iyy="42" izz="42" iyz="0" ixy="0" ixz="0"
    material="Rust" /> 

    <!-- Barka, od siebie do siebie -->
<!--================================================================================-->
    <xacro:x_joint name="Shoulder_02" type="revolute"
    axis="1 0 0"    limit_low="-0.35"   limit_up="1.6" limit_eff="20000"    limit_vel="0.5"
    origin_xyz="0 2 -0.5"    origin_rpy="0 0 0"
    parent="${l01}"  child="${l02}"/>

    <transmission name="trans_Shoulder_02">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Shoulder_02">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="Shoulder_02">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_ball name="${l02}"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    mass = "150" radius="0.4" coll_rad="0.13"
    ixx="9.6" iyy="9.6" izz="9.6" iyz="0"  ixy="0" ixz="0"
    material="Rust" />

    <!-- Ramię, martwy joint -->
<!--================================================================================-->
    <xacro:x_joint name="Arm_01" type="revolute"
    axis="0 0 1"    limit_low="0"   limit_up="0" limit_eff="10000"    limit_vel="0.5"
    origin_xyz="0 0 -0.55"    origin_rpy="0 0 0"
    parent="${l02}"  child="${l03}"/>

    <transmission name="trans_Arm_01">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Arm_01">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Arm_01">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_cylinder name="${l03}"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    mass = "120" radius="0.25" coll_rad="0.06" length="1"
    ixx="10" iyy="10" izz="3.125" iyz="0"  ixy="0" ixz="0"
    material="Rust" />

    <!-- Łokieć, rotacja -->
<!--================================================================================-->
    <xacro:x_joint name="Arm_02" type="revolute"
    axis="0 0 1"    limit_low="-1.6"   limit_up="1.60" limit_eff="10000"    limit_vel="0.5"
    origin_xyz="0 0 -0.7"    origin_rpy="0 0 0"
    parent="${l03}"  child="${l04}"/>

    <transmission name="trans_Arm_02">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Arm_02">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Arm_02">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_ball name="${l04}"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    mass = "40" radius="0.3" coll_rad="0.1"
    ixx="1.44" iyy="1.44" izz="1.44" iyz="0" ixy="0" ixz="0"
    material="Rust" />

    <!-- Łokieć, zgięcie-->
<!--================================================================================-->
    <xacro:x_joint name="Arm_03" type="revolute"
    axis="0 1 0"    limit_low="-2.62"   limit_up="0" limit_eff="20000"    limit_vel="0.5"
    origin_xyz="0 0 0"    origin_rpy="0 0 0"
    parent="${l04}"  child="${l05}"/>

    <transmission name="trans_Arm_03">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Arm_03">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Arm_03">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_cylinder name="${l05}"
    origin_xyz="0 0 -0.6" origin_rpy="0 0 0"
    mass = "20" radius="0.17" coll_rad="0.04" length="0.75"
    ixx="3" iyy="3" izz="0.5" iyz="0" ixy="0" ixz="0"
    material="Rust" />

    <!-- Nadgarstek, góra dół -->
<!--================================================================================-->
    <xacro:x_joint name="Wrist" type="revolute"
    axis="1 0 0"    limit_low="-1.05"   limit_up="0.87" limit_eff="10000"    limit_vel="0.5"
    origin_xyz="0 0 -1"    origin_rpy="0 0 0"
    parent="${l05}"  child="${l06}"/>

    <transmission name="trans_Wrist">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Wrist">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Wrist">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_ball name="${l06}"
    origin_xyz="0 0 -0.05" origin_rpy="0 0 0"
    mass = "4" radius="0.20" coll_rad="0.06"
    ixx="0.064" iyy="0.064" izz="0.064" iyz="0" ixy="0" ixz="0"
    material="Rust" />

    <!-- Nadgarstek, rotacyjny -->
<!--================================================================================-->
    <xacro:x_joint name="Hand" type="revolute"
    axis="0 0 1"    limit_low="-1.62"   limit_up="1.52" limit_eff="10000"    limit_vel="0.5"
    origin_xyz="0 0 -0.1"    origin_rpy="0 0 0"
    parent="${l06}"  child="${l07}"/>

    <transmission name="trans_Hand">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Hand">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Hand">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_box name="${l07}"
    origin_xyz="0 0 -0.25"  origin_rpy="0 0 0"
    mass = "10" size="0.3 0.2 0.4"
    ixx="0.21" iyy="0.11" izz="0.18" iyz="0"  ixy="0" ixz="0"
    material="Rust" /> 

     <!-- Palec wskazujący A -->
<!--================================================================================-->
    <xacro:x_joint name="Finger_01_A" type="revolute"
    axis="1 0 0"    limit_low="-1.57"   limit_up="0.52" limit_eff="10000"    limit_vel="0.5"
    origin_xyz="0.08 0.08 -0.5"    origin_rpy="0 0 0"
    parent="${l07}"  child="${l08}"/>

    <transmission name="trans_Finger_01_A">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Finger_01_A">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Finger_01_A">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_box name="${l08}"
    origin_xyz="0 0 -0.1" origin_rpy="0 0 0"
    mass = "4" size="0.1 0.05 0.2"
    ixx="0" iyy="0" izz="0" iyz="0" ixy="0" ixz="0"
    material="Rust" />

    <!-- Palec wskazujący B -->
<!--================================================================================-->
    <xacro:x_joint name="Finger_01_B" type="revolute"
    axis="1 0 0"    limit_low="-2.27"   limit_up="0" limit_eff="10000"    limit_vel="0.5"
    origin_xyz="0 0 -0.25"    origin_rpy="0 0 0"
    parent="${l08}"  child="${l11}"/>

    <transmission name="trans_Finger_01_B">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Finger_01_B">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Finger_01_B">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_box name="${l11}"
    origin_xyz="0 0 -0.1" origin_rpy="0 0 0"
    mass = "4" size="0.1 0.05 0.2"
    ixx="0" iyy="0" izz="0" iyz="0" ixy="0" ixz="0"
    material="Rust" /> 

   <!--  Palec serdeczny A -->
<!--================================================================================-->
    <xacro:x_joint name="Finger_02_A" type="revolute"
    axis="1 0 0"    limit_low="-1.57"   limit_up="0.52" limit_eff="10000"    limit_vel="0.5"
    origin_xyz="0.08 0.08 -0.5"    origin_rpy="0 0 0"
    parent="${l07}"  child="${l09}"/>

    <transmission name="trans_Finger_02_A">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Finger_02_A">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Finger_02_A">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_box name="${l09}"
    origin_xyz="-0.17 0 -0.1" origin_rpy="0 0 0"
    mass = "4"  size="0.1 0.05 0.2"
    ixx="0" iyy="0" izz="0" iyz="0" ixy="0" ixz="0"
    material="Rust" />

     <!-- Palec serdeczny B --> 
<!--================================================================================-->
    <xacro:x_joint name="Finger_02_B" type="revolute"
    axis="1 0 0"    limit_low="-2.27"   limit_up="0" limit_eff="10000"    limit_vel="0.5"
    origin_xyz="-0.17 0 -0.25"    origin_rpy="0 0 0"
    parent="${l09}"  child="${l12}"/>

    <transmission name="trans_Finger_02_B">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Finger_02_B">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Finger_02_B">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_box name="${l12}"
    origin_xyz="0 0 -0.1" origin_rpy="0 0 0"
    mass = "4" size="0.1 0.05 0.2"
    ixx="0" iyy="0" izz="0" iyz="0" ixy="0" ixz="0"
    material="Rust" />
    

    <!--  Palec kciuk A -->
<!--================================================================================-->
    <xacro:x_joint name="Finger_03_A" type="revolute"
    axis="1 0 0"    limit_low="-0.7"   limit_up="1.57" limit_eff="10000"    limit_vel="0.5"
    origin_xyz="0.08 -0.06 -0.5"    origin_rpy="0 0 0"
    parent="${l07}"  child="${l10}"/>

    <transmission name="trans_Finger_03_A">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Finger_03_A">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Finger_03_A">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_box name="${l10}"
    origin_xyz="-0.05 0 -0.1" origin_rpy="0 0 0"
    mass = "4"  size="0.1 0.05 0.2"
    ixx="0" iyy="0" izz="0" iyz="0" ixy="0" ixz="0"
    material="Rust" />

     <!-- Palec kciuk B -->
<!--================================================================================-->
    <xacro:x_joint name="Finger_03_B" type="revolute"
    axis="1 0 0"    limit_low="0"   limit_up="1.6" limit_eff="10000"    limit_vel="0.5"
    origin_xyz="0 0 -0.25"    origin_rpy="0 0 0"
    parent="${l10}"  child="${l13}"/>

    <transmission name="trans_Finger_03_B">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="Finger_03_B">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_Finger_03_B">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_box name="${l13}"
    origin_xyz="-0.05 0 -0.1" origin_rpy="0 0 0"
    mass = "4" size="0.1 0.05 0.2"
    ixx="0" iyy="0" izz="0" iyz="0" ixy="0" ixz="0"
    material="Rust" /> 

    <!-- Plugin -->
<!--================================================================================-->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/rm</robotNamespace>
        </plugin>
    </gazebo>


</robot>
