<?xml version="1.0"?>
<robot name="rm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find robot_arm)/urdf/jl.xacro"/>
    <xacro:include filename="$(find robot_arm)/urdf/lp.xacro"/>

    <!-- Opis robota -->
    <xacro:x_link_box name="${l00}"
    origin_xyz="0 0 0"  origin_rpy="0 0 0"
    mass = "1200"
    ixx="4000" ixy="0" ixz="0" iyy="800" izz="4000" iyz="0"
    size="2 2 6"/>   

    <xacro:x_joint name="base_link__link_01" type="revolute"
    axis="0 1 0"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.2"
    origin_xyz="0 0 2"    origin_rpy="0 0 0"
    parent="${l00}"  child="${l01}"/>

    <transmission name="trans_base_link__link_01">
        <type>transmission_interface/SimpleTransmission</type>
        <joint name="base_link__link_01">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        </joint>
        <actuator name="motor_base_link__link_01">
            <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
            <mechanicalReduction>1</mechanicalReduction>
        </actuator>
    </transmission>

    <xacro:x_link_box name="${l01}"
    origin_xyz="0 1.5 0"  origin_rpy="0 0 0"
    mass = "192"
    ixx="32" ixy="0" ixz="0" iyy="32" izz="32" iyz="0"
    size="1 1 1"/> 

<!--     <xacro:x_joint name="Shoulder_Left_Right" type="revolute"
    axis="1 0 0"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0 1.5 -0.5"    origin_rpy="0 0 0"
    parent="${l01}"  child="${l02}"/>

    <xacro:x_link_ball name="${l02}"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    mass = "40"
    ixx="0.2" ixy="0" ixz="0" iyy="0.2" izz="0.2" iyz="0"
    radius="0.4"/>

    <xacro:x_joint name="Shoulder_Rotate_1" type="revolute"
    axis="0 0 1"    limit_low="0"   limit_up="0" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0 0 -0.5"    origin_rpy="0 0 0"
    parent="${l02}"  child="${l03}"/>

    <xacro:x_link_cylinder name="${l03}"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    mass = "48"
    ixx="5.08" ixy="0" ixz="0" iyy="5.08" izz="24" iyz="0"
    radius="0.3" length="1"/>

    <xacro:x_joint name="Shoulder_Rotate" type="revolute"
    axis="0 0 1"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0 0 -0.5"    origin_rpy="0 0 0"
    parent="${l03}"  child="${l04}"/>

    <xacro:x_link_ball name="${l04}"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    mass = "15"
    ixx="0.54" ixy="0" ixz="0" iyy="0.54" izz="0.54" iyz="0"
    radius="0.3"/>

    <xacro:x_joint name="Elbow_Up_Down" type="revolute"
    axis="0 1 0"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0 0 0"    origin_rpy="0 0 0"
    parent="${l04}"  child="${l05}"/>

    <xacro:x_link_cylinder name="${l05}"
    origin_xyz="0 0 -0.4" origin_rpy="0 0 0"
    mass = "36"
    ixx="2.25" ixy="0" ixz="0" iyy="2.25" izz="1.125" iyz="0"
    radius="0.25" length="0.75"/>

    <xacro:x_joint name="Wrist_Left_Right" type="revolute"
    axis="1 0 0"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0 0 -0.80"    origin_rpy="0 0 0"
    parent="${l05}"  child="${l06}"/>

    <xacro:x_link_ball name="${l06}"
    origin_xyz="0 0 0" origin_rpy="0 0 0"
    mass = "15"
    ixx="0.24" ixy="0" ixz="0" iyy="0.24" izz="0.24" iyz="0"
    radius="0.20"/>

    <xacro:x_joint name="Wrist_Rotate" type="revolute"
    axis="0 0 1"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0 0 -0.1"    origin_rpy="0 0 0"
    parent="${l06}"  child="${l07}"/>

    <xacro:x_link_box name="${l07}"
    origin_xyz="0 0 -0.1"  origin_rpy="0 0 0"
    mass = "24"
    ixx="0.5" ixy="0" ixz="0" iyy="0.26" izz="0.2" iyz="0.4"
    size="0.3 0.2 0.4"/> 

     FINGER 1 A 
    <xacro:x_joint name="Index_1" type="revolute"
    axis="1 0 0"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0.08 0.08 -0.3"    origin_rpy="0 0 0"
    parent="${l07}"  child="${l08}"/>

    <xacro:x_link_box name="${l08}"
    origin_xyz="0 0 -0.1" origin_rpy="0 0 0"
    mass = "4"
    ixx="0.15" ixy="0" ixz="0" iyy="0.0375" izz="0.1275" iyz="0"
    size="0.1 0.05 0.2"/>

     FINGER 1 B 

    <xacro:x_joint name="Index_2" type="revolute"
    axis="1 0 0"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0 0 -0.2"    origin_rpy="0 0 0"
    parent="${l08}"  child="${l11}"/>

    <xacro:x_link_box name="${l11}"
    origin_xyz="0 0 -0.1" origin_rpy="0 0 0"
    mass = "4"
    ixx="0.15" ixy="0" ixz="0" iyy="0.0375" izz="0.1275" iyz="0"
    size="0.1 0.05 0.2"/> 

     FINGER 2 A 
    <xacro:x_joint name="Ring_1" type="revolute"
    axis="1 0 0"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0.08 0.08 -0.3"    origin_rpy="0 0 0"
    parent="${l07}"  child="${l09}"/>

    <xacro:x_link_box name="${l09}"
    origin_xyz="-0.17 0 -0.1" origin_rpy="0 0 0"
    mass = "4"
    ixx="0.15" ixy="0" ixz="0" iyy="0.0375" izz="0.1275" iyz="0"
    size="0.1 0.05 0.2"/>

     FINGER 2 B 
    <xacro:x_joint name="Ring_2" type="revolute"
    axis="1 0 0"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="-0.17 0 -0.2"    origin_rpy="0 0 0"
    parent="${l09}"  child="${l12}"/>

    <xacro:x_link_box name="${l12}"
    origin_xyz="0 0 -0.1" origin_rpy="0 0 0"
    mass = "4"
    ixx="0.15" ixy="0" ixz="0" iyy="0.0375" izz="0.1275" iyz="0"
    size="0.1 0.05 0.2"/>

     FINGER 3 A
    <xacro:x_joint name="Thumb_1" type="revolute"
    axis="1 0 0"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0.08 -0.06 -0.3"    origin_rpy="0 0 0"
    parent="${l07}"  child="${l10}"/>

    <xacro:x_link_box name="${l10}"
    origin_xyz="-0.05 0 -0.1" origin_rpy="0 0 0"
    mass = "4"
    ixx="0.15" ixy="0" ixz="0" iyy="0.0375" izz="0.1275" iyz="0"
    size="0.1 0.05 0.2"/>

     FINGER 3 B
    <xacro:x_joint name="Thumb_2" type="revolute"
    axis="1 0 0"    limit_low="-3.14"   limit_up="3.14" limit_eff="1000"    limit_vel="0.5"
    origin_xyz="0 0 -0.2"    origin_rpy="0 0 0"
    parent="${l10}"  child="${l13}"/>

    <xacro:x_link_box name="${l13}"
    origin_xyz="-0.05 0 -0.1" origin_rpy="0 0 0"
    mass = "4"
    ixx="0.15" ixy="0" ixz="0" iyy="0.0375" izz="0.1275" iyz="0"
    size="0.1 0.05 0.2"/> -->

    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
        </plugin>
    </gazebo>


</robot>
