<?xml version="1.0"?>
<robot name="table" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="$(find robot_arm)/urdf/jl.xacro"/>
    <xacro:include filename="$(find robot_arm)/urdf/materials.xacro"/>

    <!-- Blat -->
<!--================================================================================-->
    <xacro:x_link_box name="table_top"
    origin_xyz="0 0 2"  origin_rpy="0 0 0"
    mass = "4800" size="4 4 0.3"
    ixx="10000" iyy="10000" izz="10000" iyz="0" ixy="0" ixz="0"
    material="Gazebo/DarkGrey" 
    />   

    <!-- LP Joint -->
<!--================================================================================-->
    <xacro:x_joint name="lp_leg_joint" type="revolute"
    axis="0 0 1"    limit_low="0"   limit_up="0" limit_eff="0"  limit_vel="0"
    origin_xyz="0 0 0"    origin_rpy="0 0 0"
    parent="table_top"  child="lp_leg"/>

    <!-- LP Noga -->
<!--================================================================================-->
    <xacro:x_link_box name="lp_leg"
    origin_xyz="2 2 0"  origin_rpy="0 0 0"
    mass = "4800" size="0.2 0.2 2"
    ixx="10000" iyy="10000" izz="10000" iyz="0" ixy="0" ixz="0"
    material="Gazebo/DarkGrey" 
    />

    <!-- RP Joint -->
<!--================================================================================-->
    <xacro:x_joint name="rp_leg_joint" type="revolute"
    axis="0 0 1"    limit_low="0"   limit_up="0" limit_eff="0"  limit_vel="0"
    origin_xyz="0 0 0"    origin_rpy="0 0 0"
    parent="table_top"  child="rp_leg"/>

    <!-- RP Noga -->
<!--================================================================================-->
    <xacro:x_link_box name="rp_leg"
    origin_xyz="-2 2 0"  origin_rpy="0 0 0"
    mass = "4800" size="0.2 0.2 2"
    ixx="10000" iyy="10000" izz="10000" iyz="0" ixy="0" ixz="0"
    material="Gazebo/DarkGrey" 
    /> 

    <!-- LT Joint -->
<!--================================================================================-->
    <xacro:x_joint name="lt_leg_joint" type="revolute"
    axis="0 0 1"    limit_low="0"   limit_up="0" limit_eff="0"  limit_vel="0"
    origin_xyz="0 0 0"    origin_rpy="0 0 0"
    parent="table_top"  child="lt_leg"/>

    <!-- LT Noga -->
<!--================================================================================-->
    <xacro:x_link_box name="lt_leg"
    origin_xyz="2 -2 0"  origin_rpy="0 0 0"
    mass = "4800" size="0.2 0.2 2"
    ixx="10000" iyy="10000" izz="10000" iyz="0" ixy="0" ixz="0"
    material="Gazebo/DarkGrey" 
    />

    <!-- RT Joint -->
<!--================================================================================-->
    <xacro:x_joint name="rt_leg_joint" type="revolute"
    axis="0 0 1"    limit_low="0"   limit_up="0" limit_eff="0"  limit_vel="0"
    origin_xyz="0 0 0"    origin_rpy="0 0 0"
    parent="table_top"  child="rt_leg"/>

    <!-- RT Noga -->
<!--================================================================================-->
    <xacro:x_link_box name="rt_leg"
    origin_xyz="-2 -2 0"  origin_rpy="0 0 0"
    mass = "4800" size="0.2 0.2 2"
    ixx="10000" iyy="10000" izz="10000" iyz="0" ixy="0" ixz="0"
    material="Gazebo/DarkGrey" 
    /> 

<!-- Obiekty -->
<!--================================================================================-->

    <!-- Kula -->
<!--================================================================================-->
    <!-- <xacro:x_link_ball name="Kula"
    origin_xyz="0 0 2.5" origin_rpy="0 0 0"
    mass = "50" radius="0.1" coll_rad="0.1"
    ixx="5" ixy="5" ixz="5" iyy="0" iyz="0" izz="0"
    material="Gazebo/GreenGlow" /> -->

    <!-- Kostka -->
<!--================================================================================-->
    <!-- <xacro:x_link_box name="Kostka
    origin_xyz="1 0 2.5"  origin_rpy="0 0 0"
    mass = "4800" size="0.1 0.1 0.1"
    ixx="0.08" iyy="0.08" izz="0.08" iyz="0" ixy="0" ixz="0"
    material="Gazebo/GreenGlow" 
    />  -->


    <!-- Plugin -->
<!--================================================================================-->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/table</robotNamespace>
        </plugin>
    </gazebo>


</robot>
